﻿@{
    ViewBag.Title = "Ana sayfa";
}
<div class="row" style="margin:0px;padding 0px;">
    <div class="col-md-8">
        <div class="jumbotron" style="background-color:white">
            <h1>C++ ve VERİ YAPILARI</h1>
            <p class="lead">
                Bu sitenin amacı, c++ ve veri yapıları hakkında okuduğunuz konu anlatımlarını  pratiğe dökmenize yardımcı olmaktır.  Dolayısı ile burada herhangi bir konu anlatımı mevcut olmamakta, onun yerine birçok örnek ile programlamanın genel konseptleri C++ dili aracılığı ile size aktarılmaktadır.

                Örnek projelerde kavrayamadığınız bir nokta olması durumunda yorum yapabilirsiniz.
                Eğer c++ veya veri yapıları hakkında yardım almak istediğiniz bir soru varsa 'Soru/Cevap Bankası' bölümünde sorunuzu arayabilir veya üye olarak kendiniz bir soru oluşturabilirsiniz.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Son Sorulanlar</h2>
        <p> Burada son sorulan sorular veritabanından alınarak görüntülenecektir.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867"><b>Soru/Cevap Bankası&raquo;</b> </a></p>
    </div>
</div>
